
.Content{
  display: flex;
}
.links {
  margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .links a {
    text-decoration: none;
    color: black;
   font-family: sans-serif;
   font-size: 17px;
  display: block;
    margin-bottom: 10px; 
    margin-top: 20px;
  }

  .MiddleRight-content {
    width: 80%;
    display: flex;
  }
  .links a:hover {
    color: black;
  }
  .navbar{
    margin:0;
  }
  .container{
  
   color: black;
  }
  .Left-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 20%;
    overflow-y: scroll;
    max-height: calc(100vh - 50px);
    
  }
  .Middle-content{
    width: 70%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    display: flex;
    
    
  }
  .Middle-content p{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 10px;
  }
  .Right-content {
    width: 25%;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    flex: 1;
  }

  .Right-content p{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 10px;
  }
  .card-group{
    display:flex;
    justify-content: center;
    margin: 15px;
    gap: 5px;
  }
  