.container{
    display: flex;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}
.left-content{
    width: 24rem;
    border-right: 1px solid #f8f6f1;
}
.scroll{
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    background-color: white;
    margin-left: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.scrolling-content{
    background-color: rgb(255, 255, 255);
    margin-left: 6px;
    
    
}
.createnewlist{
background-color:rgb(224, 237, 248);
height: 40px;
border-radius: 8px;
font-size: 16px;
font-weight: bold;
color: blue;
margin-top: 20px;
width: 20rem;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
margin-right: 10px;

}
.scrolling-content a{
    display: flex;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    
}
.scrolling-content a svg{
    margin-right: 6px;
}


.right-content{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
     overflow-y: auto;
    max-height: calc(100vh);
    background-color: aliceblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 56rem;
}
.searchBar{
    margin-top: 10px;
   margin-left: 20px;
   height: 35px;
width: 19rem;
border-radius: 20px;
margin-bottom: 10px;
font-size: 15px;
background-color: aliceblue;
}
.heading{
    margin-bottom: 5px;
    margin-left: 24px;
    margin-top: 10px;
    color: black;
}
.filter{
    margin-left: -8px;
}
.filter a{
    text-decoration: none;
     color: blue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-5px;
    margin-bottom: 15px;
    margin-left:-40px ;
}
.catagoriesLinks a{
    display: flex;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
   
}
.catagoriesLinks a svg{
    margin-right: 6px;
}
.todaysPicks{
    margin-top: 20px;
}
.FirstRowStuff{
display: flex;
}
.card img{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    
}
.SecondRowStuff{
    display: flex;
}

.ThirdRowStuff{
    display: flex;
    
}
.ForthRowStuff{
    display: flex;
    
    }
.card-text{
    margin-top: -10px;
    margin-left: 20px;
}
.card-title{
    margin-top: 10px;
    margin-left: 60px;
    font-size: large;
}
.Heading{
     margin: 10px;
}
.card{
    margin-left: 25px;

}